In [1]:
%matplotlib inline 

import numpy as np
import pandas as pd
import pymysql as mdb
import sqlalchemy as sa
import matplotlib.pyplot as plt 

from sklearn.cross_validation import train_test_split
from sklearn import metrics

from decimal import *

import sexmachine.detector as gender
identify_gender = gender.Detector()

In [2]:
# load local sql engine
import pickle
import sys
import nltk
import re
import psycopg2

import pyLDAvis as plda
plda.enable_notebook()
import pyLDAvis.gensim

import gensim
from sqlalchemy_utils import database_exists, create_database

%matplotlib inline
%config InlineBackend.figure_format='retina'
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.corpus import stopwords
sns.set_context('talk')
sns.set_style('darkgrid') 
plt.rcParams['figure.figsize'] = 12, 8  # plotsize
pd.set_option('display.max_columns', 500)
local_weave_pair = sa.create_engine("postgres://%s@localhost/%s"%('rootname','weave_pair'))

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/numpy/lib/utils.py:95: DeprecationWarning: `scipy.sparse.sparsetools` is deprecated!
scipy.sparse.sparsetools is a private module for scipy.sparse, and should not be used.
  warnings.warn(depdoc, DeprecationWarning)
/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/sqlalchemy/dialects/__init__.py:34: SADeprecationWarning: The SQLAlchemy PostgreSQL dialect has been renamed from 'postgres' to 'postgresql'. The new URL format is postgresql[+driver]://<user>:<pass>@<host>/<dbname>
  module = __import__('sqlalchemy.dialects.%s' % (dialect, )).dialects

## Load in weave database

In [3]:
conConcierge = mdb.connect(host='alfred-prod.cbyff1yl1xje.us-west-2.rds.amazonaws.com', 
                  user='insight', 
                  password='YWRt9fxYzx1PqHy', 
                  db='alfred_prod')
curC = conConcierge.cursor()
curC.execute('SHOW TABLES')
table_names_C = curC.fetchall()

In [4]:
conWeave = mdb.connect(host='weave-prod-analytics.cbyff1yl1xje.us-west-2.rds.amazonaws.com', 
                  user='insight', 
                  password='2xMhnE458gSPxeS', 
                  db='weave_prod')
curW = conWeave.cursor()
curW.execute('SHOW TABLES')
table_names_W = curW.fetchall()

In [ ]:
print table_names_C
print table_names_W

In [5]:
def table_to_df(table,cur):
    cur.execute('SELECT * from {table}'.format(table=table))
    rows = cur.fetchall()
    df = pd.DataFrame( [[ij for ij in i] for i in rows])
    cur.execute('DESCRIBE {table}'.format(table=table))
    cols = cur.fetchall()
    dfcols = [i[0] for i in cols]
    df.columns = dfcols
    return df

In [6]:
## create a database (if it doesn't exist)
if not database_exists(local_weave_pair.url):
    create_database(local_weave_pair.url)
print(database_exists(local_weave_pair.url))

# connect:
#con = None
con = psycopg2.connect(database = 'weave_pair', user = 'jiongz')
#con = psycopg2.connect(database = dbname, user = username, password = passwd)


# query:
sql_query = """
SELECT * FROM user_info_linkedin;
"""

user_linkedin_info=pd.read_sql_query(sql_query, con)

True

### user feature selection

In [7]:
# import 6 useful tables into data frames

match_feedbacks = table_to_df('match_feedbacks',curC)
match_feedbacks = match_feedbacks.sort('user_id')

registrations = table_to_df('registrations',curC)
registrations = registrations.sort('id')

user_infos = table_to_df('user_info_stemmeds',curC)
user_infos = user_infos.sort('user_id')

#pref_question_answers = table_to_df('pref_question_answers',curC)
#pref_question_answers = pref_question_answers.sort('user_id')

educations = table_to_df('educations',curW)
educations = educations.sort('user_id')

user_tags = table_to_df('users_tags',curW)
user_tags = user_tags.sort('user_id')

### user feature table:
user_id  first_name  meeting_times  neighborhood  degree  years(after graduation)  tag_set  field  title  looking_for

In [8]:
user_id = match_feedbacks['user_id']
meeting_times = user_id.value_counts()

In [9]:
#get user feature: meeting_times
meeting_times=pd.DataFrame(np.column_stack((np.array(meeting_times.index), np.array(meeting_times))),columns=['user_id','meeting_times'])

In [10]:
# get useful dataset user_ids
user_ids = meeting_times['user_id'].values
len(user_ids)

544

trim tables according to useful user_ids

In [11]:
# update 4 user feature tables according to useful user_ids
useful_user_infos = user_infos.loc[user_infos['user_id'].isin(list(user_ids))]
useful_registrations = registrations.loc[registrations['id'].isin(list(user_ids))]
useful_educations = educations.loc[educations['user_id'].isin(list(user_ids))]
useful_user_tags = user_tags.loc[user_tags['user_id'].isin(list(user_ids))]

In [12]:
# get user feature: neigborhood
neighborhood = useful_user_infos[['user_id','hood']]

In [13]:
# get user feature: degree
degree = useful_educations.groupby(['user_id']).apply(lambda tdf: pd.Series(  dict([[vv,tdf[vv].tolist()] for vv in tdf if vv not in ['user_id']])  ))['degree'] 
degree = pd.DataFrame(np.column_stack((np.array(degree.index), np.array(degree))),columns=['user_id','degree'])

In [14]:
# get user feature: years
years = useful_educations.groupby(['user_id'])['end_year'].max() 
years = pd.DataFrame(np.column_stack((np.array(years.index), np.array(years))),columns=['user_id','end_year'])

In [15]:
# get user feature: tags
tags = useful_user_tags.groupby(['user_id']).apply(lambda tdf: pd.Series(  dict([[vv,tdf[vv].tolist()] for vv in tdf if vv not in ['user_id']])  ))['tag_id'] 
tags = pd.DataFrame(np.column_stack((np.array(tags.index), np.array(tags))),columns=['user_id','tags'])

In [16]:
# get user feature: title
title = useful_user_infos.groupby(['user_id']).apply(lambda tdf: pd.Series(  dict([[vv,tdf[vv].tolist()] for vv in tdf if vv not in ['user_id']])  ))['title'] 
title = pd.DataFrame(np.column_stack((np.array(title.index), np.array(title))),columns=['user_id','title'])

In [17]:
# get user feature: looking_for
looking_for = useful_user_infos.groupby(['user_id']).apply(lambda tdf: pd.Series(  dict([[vv,tdf[vv].tolist()] for vv in tdf if vv not in ['user_id']])  ))['looking_for'] 
looking_for = pd.DataFrame(np.column_stack((np.array(looking_for.index), np.array(looking_for))),columns=['user_id','looking_for'])

In [18]:
# get user feature: name
name = useful_registrations.groupby(['id']).apply(lambda tdf: pd.Series(  dict([[vv,tdf[vv].tolist()] for vv in tdf if vv not in ['id']])  ))['first_name'] 
name = pd.DataFrame(np.column_stack((np.array(name.index), np.array(name))),columns=['user_id','first_name'])

In [19]:
# get user feature: get_rating
match_feedbacks.sort('week_id')
get_ratings = match_feedbacks.groupby(['match_id']).apply(lambda tdf: pd.Series(  dict([[vv,tdf[vv].tolist()] for vv in tdf if vv not in ['match_id']])  ))['rating'] 
get_ratings = pd.DataFrame(np.column_stack((np.array(get_ratings.index), np.array(get_ratings))),columns=['user_id','get_ratings'])
get_ratings_mean = pd.DataFrame(np.column_stack((np.array(get_ratings['user_id'].values), np.array([np.mean(a) for a in get_ratings['get_ratings'].values]))),columns=['user_id','get_ratings_mean'])

In [20]:
# get user label: ratings
match_feedbacks.sort('week_id')
ratings = match_feedbacks.groupby(['user_id']).apply(lambda tdf: pd.Series(  dict([[vv,tdf[vv].tolist()] for vv in tdf if vv not in ['user_id']])  ))['rating'] 
ratings = pd.DataFrame(np.column_stack((np.array(ratings.index), np.array(ratings))),columns=['user_id','ratings'])
ratings_mean = pd.DataFrame(np.column_stack((np.array(ratings['user_id'].values), np.array([np.mean(a) for a in ratings['ratings'].values]))),columns=['user_id','ratings_mean'])

In [ ]:
pd.merge(get_ratings_mean, ratings_mean, on='user_id').astype(float).plot(x='get_ratings_mean',y='ratings_mean',kind='scatter')

In [21]:
user_features_all = name.merge(meeting_times, on='user_id',how='outer').merge(neighborhood, on='user_id',how='outer').merge(degree, on='user_id',how='outer').merge(years, on='user_id',how='outer').merge(tags, on='user_id',how='outer').merge(title, on='user_id',how='outer').merge(looking_for, on='user_id',how='outer').merge(get_ratings_mean, on='user_id',how='outer').merge(ratings_mean, on='user_id',how='outer')
user_features_all.loc[user_features_all['user_id'].isin(list(user_ids))]

,user_id,first_name,meeting_times,hood,degree,end_year,tags,title,looking_for,get_ratings_mean,ratings_mean
0,2,[Andrew],1,soma,NaN,NaN,NaN,[founder coo],[],4.75,5.00
1,10,[Jeffrey],8,,"[M.B.A., BS, Doctorate of Pharmacy, High School]",2012,"[9835, 52680, 1753, 4751, 36, 29, 6087, 78993,...",[head mobil market],[],5.00,4.375
2,12,[Joe],7,,"[None, Bachelor of Science]",2010,"[0, 36, 59, 1764]",[io develop],[],4.00,4.857142857142857142857142857
3,34,[Dora],3,soma financi district union squar hay vallei,[BS],2012,"[0, 1776, 889, 1724]",[vp busi develop],[busi develop sale],4.50,3.00
4,59,[Beatriz],3,financi district,[BS],2006,"[711, 0]",[founder],[],4.50,5.00
5,90,[Jibran],3,soma financi district,"[Associate of Arts, Bachelor of Arts]",2010,"[376, 19732, 1769, 454, 0]",[founder],[investor angel smart citi media innov meta da...,3.142857142857142857142857143,4.333333333333333333333333333
6,97,[Ian],3,market st,[None],2005,"[67, 0, 1763, 1726]",[director media technolog partnership],[media startup],4.00,3.666666666666666666666666667
7,100,[Shaheen],1,financi district,"[MS, BS (Honors), SM]",2011,"[4772, 63908, 35216, 4829, 4848, 4843, 8872, 4...",[account manag],[educ startup develop sale],4.666666666666666666666666667,5.00
8,105,[Matt],2,fidi soma,[Bachelor's Degree],2007,"[86866, 0, 19732, 4879, 7136, 67344, 1763, 172...",[entrepreneur resid],[marketplac entrepreneur pm growth hacker],3.00,4.50
9,108,[Alan],1,castro soma,"[None, None]",2009,"[1138, 1111, 0, 1763, 1724, 96036, 19732]",[store manag],[cpg market brand manag recruit],NaN,5.00
10,113,[Nicole],1,soma,"[None, Bachelor's of Railsology, None]",2013,"[1763, 1724, 0, 9691, 1754, 10800, 755, 757, 9...",[data scientist],[data scientist cto engin],4.714285714285714285714285714,4.00
11,127,[Norbert],1,financi district,"[Bachelor�s Degree, Bachelor�s Degree]",2011,"[1763, 93045, 12576, 0, 86866, 4820, 4941, 141...",[corpor attornei ventur capit],[vc],4.50,4.00
12,129,[Kevin],5,soma,"[Stanford University Continuing Education, Ven...",2012,"[1724, 1731, 1763, 0, 772]",[lead product manag],[],3.00,4.00
13,135,[Meghan Kamat],3,market st,"[MBA, BBA, ]",2005,"[70308, 19732, 6262, 1888, 1768, 804, 5309, 22...",[product manag],[product manag],4.00,5.00
14,137,[Danny],1,market st,"[Bachelor's Degree, None, Non-degree, High Sch...",2008,"[4837, 18871, 917, 1763, 1180, 0, 4870, 4868, ...",[market manag],[startup],3.00,4.00
15,143,[Patrick],1,financi district,"[None, BA in Business]",2015,"[1724, 1776, 0, 1752, 31, 72]",[founder],[],5.00,4.00
16,147,[Kevin],1,soma,"[Bachelor's, International Baccalaureate Diploma]",2012,"[1763, 5051, 0, 29, 22]",[product],[product manag edtech],3.333333333333333333333333333,5.00
17,163,[Gareth],5,hay vallei mission,"[Master, Master]",2000,"[67974, 1724, 89504, 39119, 1763, 0, 16659, 89...",[head publish develop],[develop mobil mobil publish],4.50,4.60
18,164,[Joe],1,financi district,"[MBA, Bachelor of Science]",2013,"[8872, 6134, 57348, 63945, 1763, 1724, 36687, ...",[infrastructur architect system administr],[product manag],5.00,5.00
19,174,[Roger],2,soma,[Double Degrees],2006,"[1754, 1724, 19732, 0, 29, 11032, 4879, 6107, ...",[director product manag],[product manag],4.25,5.00
20,175,[Amar],1,soma market st,"[Juris Doctor (J.D.), BA]",2014,"[4879, 4887, 4877, 1729, 4874, 1725, 29, 39029...",[owner],[game develop design virtual realiti busi deve...,5.00,4.00
21,186,[Sanjay],2,financi district,"[MBA, BS]",2003,"[1725, 1731, 1724, 1763, 0, 150]",[softwar engin],[startup],4.50,4.50
22,193,[Jamie],4,haight sunset cole vallei soma mission market ...,[],2008,"[0, 1103, 1724]",[founder],[design startup tech analyst tech journalist],3.00,4.00
23,212,[Daniel],2,financi district,"[Bachelor's degree, Master of Business Adminis...",2008,"[16, 1776, 0, 174, 1754]",[investor],[confer organ vc pe invest banker financi serv...,4.00,5.00
24,213,[Ryan],3,soma,"[High School, BS]",1987,"[37, 0, 1724, 1763, 1754, 1072]",[partnership develop],[],4.50,5.00
25,217,[Craig],2,soma,"[BS, BS]",2011,"[1724, 1763, 93, 16, 0]",[ux design],[product manag],5.00,4.00
26,222,[Anuya],2,market st,"[B.Sc. International Business, MBA]",2013,"[6035, 89509, 89507, 86866, 5038, 11050, 11962...",[manag],[data scientist startup product manag],4.00,5.00
27,224,[Jordan],3,financi district union squar,[],NaN,"[1724, 736, 0, 1774]",[head custom success market founder],[small busi ecommerc amazon fba ebai],5.00,3.333333333333333333333333333
28,238,[David],1,mission soma,[None],1998,"[1763, 0, 1284]",[fullstack engin],[startup],NaN,5.00
29,242,[Jacquie],1,,"[Bachelor's degree, User Experience Design, Ma...",2014,"[7771, 5865, 10164, 8934, 10167, 5867, 53720, ...",[advisor],[hr founder oper high level],4.00,3.00
...,...,...,...,...,...,...,...,...,...,...,...
514,17511,NaN,1,soma financi district,NaN,NaN,NaN,[product manag growth],[growth],5.00,5.00
515,17522,NaN,1,soma,NaN,NaN,NaN,[ceo],[investor founder ecommerc crowdfund],4.00,1.00
516,17527,NaN,1,financi district,NaN,NaN,NaN,[senior associ],[fintech startup post product stage late growt...,NaN,3.00
517,17532,NaN,1,soma,NaN,NaN,NaN,[founder cto],[],4.666666666666666666666666667,5.00
518,18590,NaN,1,soma market st,NaN,NaN,NaN,[product market],[],5.00,5.00
519,17561,NaN,1,soma,NaN,NaN,NaN,[senior softwar engin],[],5.00,4.00
520,17565,NaN,1,soma market st civic center hay vallei financi...,NaN,NaN,NaN,[ceo founder founder advisor],[],4.00,5.00
521,17585,NaN,1,soma,NaN,NaN,NaN,[investor],[],4.00,5.00
522,17589,NaN,1,soma hay vallei financi district union squar,NaN,NaN,NaN,[privat equiti investor gs growth],[],5.00,5.00
523,17591,NaN,1,hay vallei,NaN,NaN,NaN,[ux research],[],4.00,5.00
524,17597,NaN,1,soma financi district,NaN,NaN,NaN,[investor],[],4.666666666666666666666666667,4.00
525,17606,NaN,1,soma,NaN,NaN,NaN,[softwar engin],[],4.00,4.00
526,17500,NaN,1,,NaN,NaN,NaN,[growth],[growth],NaN,5.00
527,17484,NaN,1,,NaN,NaN,NaN,[associ],[startup offic space seri],3.50,2.00
528,17478,NaN,1,soma market st financi district union squar,NaN,NaN,NaN,[project manag product develop],[food wine startup edtech ux design data scien...,5.00,4.00
529,19335,NaN,1,mission,NaN,NaN,NaN,[founder ceo],[],4.00,4.00
530,19366,NaN,1,financi district,NaN,NaN,NaN,[director educ content],[],5.00,4.00
531,19385,NaN,1,financi district union squar north beach,NaN,NaN,NaN,[chief product offic founder],[],5.00,5.00
532,19389,NaN,1,financi district,NaN,NaN,NaN,[founder],[],4.00,4.00
533,19410,NaN,1,soma,NaN,NaN,NaN,[founder cto],[],5.00,5.00
534,19518,NaN,1,soma mission dogpatch,NaN,NaN,NaN,[manag partner],[],5.00,5.00
535,19419,NaN,1,soma market st,NaN,NaN,NaN,[tech lead],[],5.00,5.00
536,18430,NaN,1,mission,NaN,NaN,NaN,[ceo founder],[],5.00,5.00
537,19451,NaN,1,financi district,NaN,NaN,NaN,[vp engin],[],4.00,5.00
538,19475,NaN,1,soma,NaN,NaN,NaN,[found partner senior associ],[],5.00,5.00
539,19484,NaN,1,soma market st civic center hay vallei financi...,NaN,NaN,NaN,[product manag monet],[],5.00,5.00
540,19501,NaN,1,soma market st civic center financi district u...,NaN,NaN,NaN,[ceo founder],[],3.00,4.00
541,19507,NaN,1,soma market st hay vallei mission,NaN,NaN,NaN,[design],[cto angel],4.00,4.00
542,19515,NaN,1,soma market st financi district union squar,NaN,NaN,NaN,[strategi oper associ],[],4.00,5.00
543,18432,NaN,1,civic center,NaN,NaN,NaN,[ceo founder],[],5.00,3.00

In [22]:
user_features = meeting_times.merge(neighborhood, on='user_id',how='outer').merge(title, on='user_id',how='outer').merge(looking_for, on='user_id',how='outer').merge(get_ratings_mean, on='user_id',how='outer').merge(ratings_mean, on='user_id',how='outer')
user_features.loc[user_features['user_id'].isin(list(user_ids))]

,user_id,meeting_times,hood,title,looking_for,get_ratings_mean,ratings_mean
0,307,12,soma market st north beach,[ceo],[investor founder],4.333333333333333333333333333,4.25
1,2183,11,,[founder],[],4.888888888888888888888888889,4.363636363636363636363636364
2,1081,10,,[softwar engin],[],4.50,4.50
3,322,10,financi district soma union squar,[advertis account manag],[backend engin io develop softwar engin design...,3.833333333333333333333333333,3.90
4,1003,9,soma,[develop softwar engin],[startup strategi yc compani],2.60,4.333333333333333333333333333
5,1102,9,soma,[founder],[investor ui ux],3.80,4.888888888888888888888888889
6,10,8,,[head mobil market],[],5.00,4.375
7,16515,8,,[founder ceo],[angel growth],3.333333333333333333333333333,4.125
8,646,8,financi district,[advisor medic director],[medic healthcar ceo founder vc],4.25,4.25
9,17590,7,market st,[senior ux design],[design],4.00,5.00
10,16552,7,soma,[commun manag execut connector],[],5.00,4.571428571428571428571428571
11,12,7,,[io develop],[],4.00,4.857142857142857142857142857
12,689,7,financi district,[market manag],[startup design develop],4.00,4.571428571428571428571428571
13,16555,7,,[vp product],[],5.00,4.714285714285714285714285714
14,7217,6,,[founder],[],4.833333333333333333333333333,4.166666666666666666666666667
15,17518,6,financi district,[ventur partner],[startup work prototyp revenu],4.50,4.666666666666666666666666667
16,1272,6,soma market st civic center financi district u...,[ceo],[investor seed round],3.80,3.50
17,1111,6,union squar soma financi district,[director growth],[growth market analyt],4.00,4.333333333333333333333333333
18,267,6,union squar north beach financi district,[founder],[consum vc space],4.166666666666666666666666667,5.00
19,936,6,soma financi district,[founder],[investor founder develop],4.285714285714285714285714286,4.333333333333333333333333333
20,1193,6,soma,[founder],[busi develop manag serial entrepreneur corpor...,4.20,4.833333333333333333333333333
21,266,5,soma,[busi develop],[],4.333333333333333333333333333,4.40
22,16593,5,soma,[founder ceo],[entrepreneur digit market food startup],4.80,4.20
23,507,5,soma,[founder],[founder rais seri],4.00,4.80
24,17680,5,market st,[cto founder],[develop code bootcamp],4.20,4.80
25,1315,5,market st,[founder],[develop design musician startup],4.25,4.40
26,16567,5,soma,[vp product manag],[founder startup ground founder fund bootstrap...,4.25,4.80
27,1817,5,market st,[associ],[investor entrepreneur startup],4.60,4.00
28,809,5,,[founder],[angel seed round python django io develop fou...,4.25,4.20
29,17777,5,financi district union squar,[graphic design],[],4.50,3.80
...,...,...,...,...,...,...,...
514,17597,1,soma financi district,[investor],[],4.666666666666666666666666667,4.00
515,1218,1,fidi,[consult],[sr busi profession entrepreneur],4.00,3.00
516,17606,1,soma,[softwar engin],[],4.00,4.00
517,1230,1,nopa soma mission,[founder ceo],[design io engin femal ceo founder angel],5.00,4.00
518,1235,1,soma,[investor associ],[entrepreneur growth startup],NaN,4.00
519,1237,1,mission,[founder],[oper manag director founder],NaN,4.00
520,1241,1,soma,[chief hustler],[engin],2.00,4.00
521,17500,1,,[growth],[growth],NaN,5.00
522,17484,1,,[associ],[startup offic space seri],3.50,2.00
523,17478,1,soma market st financi district union squar,[project manag product develop],[food wine startup edtech ux design data scien...,5.00,4.00
524,958,1,fidi,[ceo founder],[entrepreneur build desktop softwar product in...,NaN,4.00
525,19335,1,mission,[founder ceo],[],4.00,4.00
526,904,1,pacif height,[brand market advisor],[engin],4.50,4.00
527,924,1,soma,[director market],[writer filmmak comedian],4.50,5.00
528,19366,1,financi district,[director educ content],[],5.00,4.00
529,938,1,financi district,[recruit manag],[account financ recruit legal administr tech],5.00,4.00
530,939,1,soma,[privat equiti associ],[corpor transact lawyer banker invest banker b...,NaN,4.00
531,19385,1,financi district union squar north beach,[chief product offic founder],[],5.00,5.00
532,19389,1,financi district,[founder],[],4.00,4.00
533,19410,1,soma,[founder cto],[],5.00,5.00
534,19518,1,soma mission dogpatch,[manag partner],[],5.00,5.00
535,19419,1,soma market st,[tech lead],[],5.00,5.00
536,18430,1,mission,[ceo founder],[],5.00,5.00
537,19451,1,financi district,[vp engin],[],4.00,5.00
538,19475,1,soma,[found partner senior associ],[],5.00,5.00
539,19484,1,soma market st civic center hay vallei financi...,[product manag monet],[],5.00,5.00
540,19501,1,soma market st civic center financi district u...,[ceo founder],[],3.00,4.00
541,19507,1,soma market st hay vallei mission,[design],[cto angel],4.00,4.00
542,19515,1,soma market st financi district union squar,[strategi oper associ],[],4.00,5.00
543,18432,1,civic center,[ceo founder],[],5.00,3.00

### combine linkedin info and database info: user_linkedin_info + user_features

In [23]:
user_features_combine=user_features.merge(user_linkedin_info, on='user_id', how='outer')

### write table into sql

In [ ]:
## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
## df is any pandas dataframe 
user_features.to_sql('user_features', local_weave_pair, if_exists='replace')
user_features_combine.to_sql('user_features_combine', local_weave_pair, if_exists='replace')

## build feedback event features table

In [77]:
user_ids1 = user_features['user_id'].values
user_ids2 = user_linkedin_info['user_id'].values
user_ids = set(user_ids1).intersection(set(user_ids2))
len(user_ids)

527

In [84]:
feedback_events = match_feedbacks[match_feedbacks['match_id'].isin(user_ids)]
feedback_events = feedback_events[feedback_events['user_id'].isin(user_ids)]

In [85]:
dataset_0=pd.merge(
    pd.merge(
        pd.merge(
            feedback_events[['week_id', 'rating', 'user_id', 'match_id']],
            user_features[['user_id','meeting_times']],on='user_id'),
        user_features[['user_id','meeting_times']],left_on='match_id',right_on='user_id'),
    user_features[['user_id','get_ratings_mean']],left_on='match_id',right_on='user_id')
feedback_dataset_0=dataset_0[['week_id', 'rating','user_id_x','match_id','meeting_times_x','meeting_times_y','get_ratings_mean']]

In [86]:
feedback_dataset_0 = feedback_dataset_0.sort(['week_id'])
len(feedback_dataset_0)

963

In [91]:
user_linkedin_info = user_linkedin_info.drop(user_linkedin_info.index[510])
user_linkedin_info.head(5)

,index,user_id,name,degree,start_yr,majors
0,0,1230,Zoe Weintraub,"B.A.,",2009,"{""International Relations, Entrepreneurship, D..."
1,1,186,Sanjay Mahalingam,"ICSE,",2011,"{""Management Science and Engineering"",""Credent..."
2,2,174,Roger Brown,"Bachelor of Science (BS),",2006,"{""Product Management, Entrepreneurship & Innov..."
3,3,224,Jordan Crawford,"Bachelor's degree,",2003,"{""Political Science"",""Political Science and Go..."
4,4,1159,"Brian Samson, SPHR","Bachelor's Degree,",2002,"{""Human Resources/General Management""}"

In [92]:
# calculate match score for all meeting events, get features from linkedin info for meeting events

match_scores = []
user_degrees = []
match_degrees = []
degree_dict = {'b':1, 'm':2, 'p':3}
user_yrs = []
match_yrs = []
user_genders = []
match_genders = []
gender_dict = {'female':0, 'mostly_female':0, 'male':1, 'mostly_male':1, 'andy':2}

for index,row in feedback_dataset_0.iterrows():
    print row['user_id_x'], row['match_id']
    # calculate match score
    demands = set(user_features.loc[user_features['user_id']==row['user_id_x'],'looking_for'].values[0][0].split())
    supplies = set(user_features.loc[user_features['user_id']==row['match_id'],'title'].values[0][0].split())
    if not demands:
        match_scores.append(1)
    else:
        if demands.intersection(supplies):
            match_scores.append(2)
        else:
            match_scores.append(0)
    
    # get degree
    if user_linkedin_info.loc[user_linkedin_info['user_id']==row['user_id_x'],'degree'].values:
        user_degree = user_linkedin_info.loc[user_linkedin_info['user_id']==row['user_id_x'],'degree'].values[0][0].lower()
        if user_degree in degree_dict:
            user_degrees.append(degree_dict[user_degree])
        else:
            user_degrees.append(0)
    else:
        user_degrees.append(0)
    if user_linkedin_info.loc[user_linkedin_info['user_id']==row['match_id'],'degree'].values.any():
        match_degree = user_linkedin_info.loc[user_linkedin_info['user_id']==row['match_id'],'degree'].values[0][0].lower()
        if match_degree in degree_dict:
            match_degrees.append(degree_dict[match_degree])
        else:
            match_degrees.append(0)
    else:
        match_degrees.append(0)
        
    # get yr
    user_yrs.append(user_linkedin_info.loc[user_linkedin_info['user_id']==row['user_id_x'],'start_yr'].values[0])
    match_yrs.append(user_linkedin_info.loc[user_linkedin_info['user_id']==row['match_id'],'start_yr'].values[0])
    
    # get gender
    user_name = user_linkedin_info.loc[user_linkedin_info['user_id']==row['user_id_x'],'name'].values[0].split()[0]
    user_genders.append(gender_dict[identify_gender.get_gender(user_name)])
    match_name = user_linkedin_info.loc[user_linkedin_info['user_id']==row['match_id'],'name'].values[0].split()[0]
    match_genders.append(gender_dict[identify_gender.get_gender(match_name)])

1102 175
895 163
584 34
175 1102
434 605
939 358
163 895
34 584
451 732
129 266
990 17478
708 355
289 378
355 708
17478 990
105 444
627 1218
59 174
732 451
1218 627
627 105
100 990
1089 224
105 627
278 322
639 762
1036 360
147 422
137 776
248 895
381 267
301 705
360 1036
684 912
505 570
912 684
570 505
985 222
705 301
238 474
312 936
895 248
762 639
322 278
217 737
422 147
481 113
776 137
936 312
59 164
570 307
584 388
610 2183
1286 1817
1817 1286
10 1111
388 584
505 734
164 59
1111 10
895 762
307 570
1081 2
2543 924
1183 2183
163 358
2922 576
213 1102
653 1817
355 34
193 290
2 1081
924 2543
1102 213
584 1315
358 163
2183 1183
1111 639
1315 584
6339 5496
1193 1111
163 2
985 475
1003 6453
129 288
355 2922
531 378
1817 307
475 985
307 1817
322 90
1081 474
9470 186
5496 6339
474 1081
646 605
322 113
698 2543
1315 1286
163 475
113 322
16509 924
222 59
737 809
193 6339
399 884
990 1183
1081 378
34 266
1286 1315
290 97
297 273
605 646
2543 698
307 936
9470 689
97 290
2922 10
884 399
288 147
16515 6339
1230 990
990 1230
16512 1102
1817 290
16525 884
290 1817
960 708
1102 16512
273 698
6339 16515
163 266
266 163
186 322
322 186
217 543
708 960
543 217
307 16522
2183 1193
2111 129
16522 307
1111 507
224 734
695 16512
16535 1315
1193 2183
1241 1081
307 734
398 90
16570 6302
1193 213
108 938
16567 1042
9470 100
505 1287
213 1193
6302 16570
1003 474
16569 2922
307 16572
16588 143
242 505
97 90
1193 273
1003 653
505 242
16570 16522
936 16571
16571 936
398 97
322 1081
732 307
273 16569
16592 474
491 1272
1272 491
16908 1003
1003 16908
1111 798
16572 809
809 16572
798 1111
1272 1817
1817 1272
17500 1111
1272 17489
17489 1272
17504 1042
358 1193
1162 1272
129 135
2183 267
16552 936
90 666
491 127
666 90
224 576
17502 1111
17505 9470
6302 2922
1193 358
12 16567
322 2501
653 17513
16567 12
1272 1162
267 2183
16515 113
307 505
17590 708
16593 646
16525 10
17522 1003
322 12
2183 8330
708 17590
17525 16555
16515 17518
444 809
1817 1818
1282 458
689 936
1003 17522
17518 16515
646 16593
507 17495
17565 17513
576 16569
809 444
267 378
16555 17525
17535 16526
59 1193
10 16525
1111 266
12 322
16526 17535
17553 288
17513 17565
17560 1241
129 174
16552 147
17517 17550
1193 59
17550 17517
17518 653
17790 17489
17740 288
653 17518
17495 17554
17560 17661
17561 17546
17489 17790
17554 17495
1036 17601
689 576
645 904
17535 9470
17601 1036
17661 17560
666 1102
17676 809
17777 17756
17513 9909
17505 16526
2183 16588
5496 90
10 17701
17738 17680
301 1003
7217 17606
17746 16569
809 17676
17701 10
17745 17776
17628 135
16526 17505
16588 2183
17716 17754
17603 16579
17680 17738
135 17628
1102 666
17606 7217
9909 17513
16569 17746
143 267
17776 17745
17756 17777
12 163
1003 301
266 17502
17661 17517
1042 288
16555 1264
646 307
507 17676
17554 17921
17803 17749
17676 507
17654 17738
17718 17817
17743 17837
17754 17724
17568 17590
17788 248
17830 17532
17794 17776
17777 17745
17904 17877
708 17647
17504 174
17802 301
17876 17513
17626 16567
17724 17754
17695 17518
17591 628
17757 17597
17590 17568
16552 16593
17749 17803
628 17591
12 17976
1003 17679
16515 17964
17539 17722
174 17504
17513 17876
267 17030
17850 16526
913 2183
17652 17866
17647 708
16593 16552
17866 17652
17921 17554
17890 16635
2183 913
17546 113
17594 17495
16635 17890
17976 12
17877 17904
17768 8330
16567 17626
17880 458
1102 809
248 17788
17505 17535
16579 135
301 17802
1264 16555
135 16579
17702 1272
17679 1003
17517 17661
17030 267
17837 17743
17964 16515
17532 17830
1818 17873
17722 17539
17518 17695
458 17880
17711 18182
17957 18055
18096 17698
17647 18074
17902 17871
17740 16574
17624 16515
17661 17745
2922 17832
16569 17685
17538 5496
895 1159
809 17724
18012 18189
18131 17835
17743 17484
17977 17866
16555 17861
17669 17505
17871 17902
17822 7217
18148 17544
17544 18148
17777 18172
17833 18151
17861 16555
17850 18095
18150 18159
17745 17661
1282 17873
17788 17941
18159 18150
18184 458
17504 17927
18172 17777
17802 17560
18161 18102
18182 17711
18102 18161
1081 18122
17505 17669
17582 17554
17873 1282
18125 17890
17904 17961
17961 17904
17757 17585
16574 17740
2501 17746
17590 17803
7217 17822
778 17518
734 17964
97 18179
17698 18096
17877 288
18084 135
17685 16569
17730 267
18095 17850
1159 895
689 18038
2183 59
17927 17504
267 17730
17585 17757
17518 778
222 17718
1089 576
17941 17788
913 904
17578 17502
18074 17647
16515 17624
18179 97
17803 17590
17724 809
17560 17802
17746 2501
17832 2922
18071 708
18040 17976
12 18013
16522 18397
17668 12
267 17757
7217 18106
18342 8330
16552 6302
18483 113
18380 2183
17896 18071
18464 18371
17669 1036
17912 17886
18507 18391
322 18267
9909 18359
17811 689
17751 17746
17927 17914
8330 18342
320 2922
6302 16552
18379 17525
307 1818
17957 17538
17976 18396
18454 18189
17979 18104
18397 16522
2183 18380
16555 17866
213 18337
17601 17502
18267 322
17594 17754
12 17668
18106 7217
17639 15472
18104 17979
17652 17871
17756 17745
17746 17751
18081 17916
17777 17776
18371 18464
17698 17532
16593 16525
10 18295
18306 1081
17740 17675
9469 266
266 9469
17590 18234
17833 18047
17675 17740
17680 734
18429 193
17871 17652
193 18429
17851 18210
17914 17927
18095 1102
18359 9909
17843 18326
17518 17923
17525 18379
17527 18012
224 16579
127 18096
17624 90
18071 17896
90 17624
936 732
15472 17639
18373 645
18311 18237
18027 1183
18295 10
17597 653
17877 960
1081 18306
18064 646
1818 307
17923 17518
18391 18507
18237 18311
653 17597
18139 18144
17886 17912
18047 17833
17502 17601
960 17877
18144 18139
18236 18225
1102 18095
16579 224
689 17811
18334 17869
18337 213
17869 18334
18326 17843
645 18373
17030 1287
17690 212
1036 17669
18189 18454
734 17680
1183 18027
18225 18236
17866 16555
16525 16593
646 18064
18234 17590
17538 17957
18432 507
18254 399
18408 18382
507 18432
18096 127
18826 17554
18483 1183
212 778
18788 18732
18139 18151
17502 16526
491 17989
17639 17544
18408 17504
17835 18613
18466 9470
17676 16551
18072 17923
1272 17597
18502 267
17589 653
17768 2
18225 18245
18544 16593
17850 17727
18558 895
2183 18429
18444 18603
18546 18731
17833 18181
17626 18441
17751 18786
17802 17590
18786 17751
18334 1111
16525 18645
18645 16525
18613 17835
17680 18464
778 212
18295 18735
18735 18295
18319 17561
18161 18182
10 18510
18612 18088
18464 17680
18311 18131
653 17589
18272 7217
17603 18665
689 18661
17553 17896
18245 18225
16552 17877
1264 90
17554 18826
307 17624
17578 18209
90 1264
17916 1193
18691 266
17777 18527
960 17912
17757 18506
17912 960
12 531
18527 17777
18722 17976
18770 17890
646 18734
7217 18272
18566 18699
17590 17802
17624 307
1111 18334
18769 18508
18580 18500
18379 100
18359 17987
18151 18139
17987 18359
1315 17964
17544 17639
16515 17539
17923 18072
17964 1315
17977 18397
18506 17757
809 936
18254 17030
17539 16515
16551 17676
17989 491
18182 18161
936 809
1301 18517
18500 18580
18088 18612
18773 113
17856 16555
15472 8330
1183 18483
18286 18380
18055 17887
18397 17977
18508 18769
9469 1818
18510 10
17877 16552
18517 1301
18125 17886
17727 17850
17690 17484
17886 18125
17887 18055
18441 17626
18766 734
18725 18679
18209 17578
18184 17904
18679 18725
18731 18546
266 18691
267 18502
16555 17856
18732 18788
17725 18373
1042 17957
17896 17553
16593 18544
17890 18770
18603 18444
18181 17833
17904 18184
18734 646
19012 19083
17904 1282
18079 18437
18972 18902
18794 18276
18963 18925
18189 18990
19108 18898
17740 18590
18276 18794
18437 18079
18245 18236
19028 18818
18430 18382
18429 18731
18464 17561
18210 18656
19083 19012
18151 18161
18770 18948
18894 18735
18289 19058
18959 18539
18990 18189
18592 17956
18161 18151
18234 18533
18863 18181
18319 18603
18948 18770
18827 18523
18603 18319
17791 18525
17956 18592
18546 18414
18898 19108
18769 18961
18013 17805
18236 18245
18525 17791
18254 18274
18902 18972
18181 18863
18903 17723
18818 19028
18925 18963
18961 18769
18396 17777
18869 18715
18274 18254
18656 18210
18122 17810
18539 18959
18735 18894
1081 17738
17723 18903
17560 17590
17835 17680
778 18736
17790 17724
960 18996
18538 1183
1042 18908
18382 18430
18661 213
18119 18483
18725 16555
18619 18517
1818 18896
9469 17746
6302 18680
18496 16552
18871 16515
17568 18106
19058 18289
7217 17998
18466 100
16515 18871
16532 17484
18996 960
17698 17647
18771 17518
18560 16593
17738 1081
10 17979
17805 18013
16522 1264
17961 16579
689 2
18731 18429
18736 778
18088 17718
18629 734
18702 17502
16552 18496
17746 9469
18408 16569
17954 1003
307 18773
1264 16522
18896 1818
18626 12
18979 113
18454 17989
18604 1287
18376 17495
18773 307
18311 378
18680 6302
17810 18122
17550 18172
17502 18702
17718 18088
17680 17835
17880 17927
17647 17698
18172 17550
17998 7217
17916 17661
17724 17790
17518 18771
18106 17568
17590 17560
18715 18869
17539 17544
18168 17722
18502 17525
18533 18234
17554 18652
18139 17754
17484 16532
17661 17916
17722 18168
18908 1042
16593 18560
16579 17961
18590 17740
19001 17890
16555 18725
17590 17794
18580 1111
19484 17817
19410 936
307 18121
18539 19031
322 17979
18722 18959
18961 18665
18965 17754
10 18645
19316 17723
18495 17851
18558 708
17833 605
18523 809
19366 18126
19185 17880
19389 17741
19419 19686
17679 1287
19475 19518
18408 18119
18414 17977
18496 19335
19031 18539
18603 19202
18289 7217
19270 17668
17979 322
17741 19389
18894 19175
18835 18806
18619 17532
193 16551
18806 18835
18502 18429
18917 18075
19180 16567
17669 19329
18517 2183
18771 19012
17680 17718
19175 18894
17626 18826
18038 576
17661 18040
18959 18722
18702 19515
18380 18786
18665 18961
18747 18319
19028 17675
375 378
18922 778
18396 19042
19335 18496
17810 19062
19267 18334
18130 17954
18126 19366
19062 17810
18645 10
19515 18702
18122 18236
18119 18408
18106 17938
19385 16555
2183 18517
18139 18161
18533 18437
18786 18380
18075 18917
18072 18629
18691 18680
18186 17553
18869 17525
17912 17511
19307 17484
16555 19385
18629 18072
1102 17582
16567 19180
17880 19185
17957 19257
7217 18289
19042 18396
17977 18414
17938 18106
17954 18130
18121 307
17724 18095
19518 19475
576 18038
605 17833
18334 19267
17817 19484
19202 18603
17553 18186
18319 18747
17794 17590
17718 17680
18306 17561
17525 18869
18770 19058
19012 18771
17651 399
19501 18254
936 19410
18254 19501
17851 18495
1081 18430
18236 18122
17723 19316
19257 17957
19329 17669
17904 17927
1287 17679
18225 19451
19053 1183
18437 18533
19451 18225
17511 17912
17502 312
18993 17522
19686 19419

In [94]:
print len(match_scores)
print len(user_degrees)
print len(match_degrees)   
print len(user_yrs)
print len(match_yrs) 
print len(user_genders)
print len(match_genders)

963
963
963
963
963
963
963

In [95]:
# meeting features dataset: feedback_dataset 
feedback_dataset = feedback_dataset_0.copy()
feedback_dataset['match_scores'] = pd.Series(np.array(match_scores), index=feedback_dataset.index)
feedback_dataset['user_degrees'] = pd.Series(np.array(user_degrees), index=feedback_dataset.index)
feedback_dataset['match_degrees'] = pd.Series(np.array(match_degrees), index=feedback_dataset.index)
feedback_dataset['user_yrs'] = pd.Series(np.array(user_yrs), index=feedback_dataset.index)
feedback_dataset['match_yrs'] = pd.Series(np.array(match_yrs), index=feedback_dataset.index)
feedback_dataset['user_genders'] = pd.Series(np.array(user_genders), index=feedback_dataset.index)
feedback_dataset['match_genders'] = pd.Series(np.array(match_genders), index=feedback_dataset.index)

In [101]:
## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
## df is any pandas dataframe 
feedback_dataset.to_sql('feedback_dataset', local_weave_pair, if_exists='replace')

In [105]:
training_set = feedback_dataset[feedback_dataset['week_id']<=26]
print len(training_set)
testing_set = feedback_dataset[feedback_dataset['week_id']>26]
print len(testing_set)

698
265

In [104]:
## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
## df is any pandas dataframe 
training_set.to_sql('training_set', local_weave_pair, if_exists='replace')
testing_set.to_sql('testing_set', local_weave_pair, if_exists='replace')

# Random Forest Model

In [ ]:
# set up  test data sets
y = dataset_0.loc[:500,'rating'].values
X = dataset_0.loc[:500,['meeting_times_x','meeting_times_y','get_ratings_mean']].values

In [ ]:
X.astype(float),y.astype(int)

In [ ]:
 # test 1 with RF

from sklearn.ensemble import RandomForestClassifier

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
clf = RandomForestClassifier(n_estimators=100, random_state=10).fit(X_train, y_train)
y_pred = clf.predict(X_test)

from sklearn.ensemble import RandomForestRegressor

print("accuracy:", metrics.accuracy_score(y_test.astype(int), y_pred.astype(int)))
print("precision:", metrics.precision_score(y_test.astype(int), y_pred.astype(int), average='micro'))
print("recall:", metrics.recall_score(y_test.astype(int), y_pred.astype(int), average='micro'))
print("f1 score:", metrics.f1_score(y_test.astype(int), y_pred.astype(int), average='micro'))

In [ ]:
# comparing with random
y_rand_pred = np.random.randint(1,6,len(y_test))

print("accuracy:", metrics.accuracy_score(y_test.astype(int), y_rand_pred.astype(int)))
print("precision:", metrics.precision_score(y_test.astype(int), y_rand_pred.astype(int), average='micro'))
print("recall:", metrics.recall_score(y_test.astype(int), y_rand_pred.astype(int), average='micro'))
print("f1 score:", metrics.f1_score(y_test.astype(int), y_rand_pred.astype(int), average='micro'))